aside { width: 30%; float: left; overflow: hidden; display: block; position: relative; z-index: 1 }
main { overflow: hidden; width: 68%; float: right; display: block; }

.l_box h2 { color: #333; font-size: 14px; line-height: 30px; padding-left: 20px; background: #fff }
.l_box div { background: rgba(255,255,255,0.5); margin-bottom: 20px; overflow: hidden }
.l_box div ul { padding: 10px; overflow: hidden }


.links a { display: block; float: left; margin: 0 10px 5px 0 }
.guanzhu img { width: 100% }
.l_box .search { border: 1px solid #000; background: #000; border-radius: 0 5px 5px 0; position: relative; }
.search input.input_submit { border: 0; background: 0; color: #fff; outline: none; position: absolute; top: 10px; right: 8% }
.search input.input_text { border: 0; line-height: 36px; height: 36px; width: 72%; padding-left: 10px; outline: none }

.r_box li { background: rgba(255,255,255,0.8); padding: 15px; overflow: hidden; color: #797b7c; margin-bottom: 20px }
.r_box li h3 { font-size: 16px; line-height: 25px; text-shadow: #FFF 1px 1px 1px }
.r_box li h3 a { color: #222 }
.r_box li h3 a:hover { color: #000; text-decoration: underline }
.r_box li img { float: right; clear: right; width: 100%; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s; }
.r_box li i { width: 150px; display: block; max-height: 100px; overflow: hidden; float: right; margin-left: 20px }
.r_box li p { margin: 20px 0 0 0; line-height: 22px; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2; }
.r_box li:hover img { transform: scale(1.05) }
.r_box li:hover h3 a { color: #19585d; }

@media screen and (min-width: 960px) and (max-width: 1023px) {
  .guanzhu { width: 270px; }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
.l_box { display: none }
.r_box, .infosbox, .picsbox, main { width: 100% }
}
@media only screen and (max-width: 479px) {
.l_box { display: none }
.r_box, .infosbox, .picsbox, main { width: 100% }
.r_box li i { float: none; margin: 0 auto 20px; width: 100%; max-height: initial }
}